@using front_to_back.Areas.Admin.ViewModels.Category
@model CategoryComponentDetailsViewModel

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Details </h4>
                <div class="table-responsive">
                    <h3>Photo</h3>
                    <div class="img-thumbnail d-flex justify-content-center" style="width:300px;height:300px">
                    <img src="~/assets/img/@Model.FilePath" />
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Id</td>
                                <td>@Model.Title</td>
                                <td>@Html.Raw(Model.Description)</td>
                                  <td>
                                    <select disabled asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a asp-action="index" asp-controller="categorycomponent" asp-area="admin" class="btn btn-light  mt-3">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>


