 @using front_to_back.ViewModels.About;
 @model AboutIndexViewModel;

<!-- Start Aim -->
<section class="banner-bg bg-white py-5">
    <div class="container my-4">
        <div class="row text-center">
            @foreach (var objectiveComponent in Model.ourWorks)
            {
                <div class="objective col-lg-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                        <i class="display-4 bx @objectiveComponent.FilePath text-light"></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">@objectiveComponent.Title</h2>
                    <p class="light-300">
                        @objectiveComponent.Text
                    </p>
                </div>
            }
        </div>
    </div>
</section>
<!-- End Aim -->