@using front_to_back.Areas.Admin;
@using front_to_back.Models
@model RecentWorkComponent
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><span class="text-danger">DELETE</span> Components</h4>
            <div class="table-responsive">
                <div class="d-flex justify-content-center">
                    <img class="img-thumbnail" style="width:200px;height:200px" src="~/assets/img/@Model.FilePath" />
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Text</th>
                         
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Id</td>
                            <td>@Model.Title</td>
                            <td>@Model.Text</td>
                           
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <form method="post" asp-route-id="@Model.Id" asp-action="deletecomponent" asp-controller="work" asp-area="admin">
                    <button onclick="confirm('Are you sure?')" class="btn btn-danger mx-3">Delete</button>
                    <button asp-action="index" asp-controller="work" asp-area="admin" class="btn btn-light">Cancel</button>

                </form>
            </div>
        </div>
    </div>
</div>