@using front_to_back.Models
@model RecentWorkComponent;

        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Details </h4>
                        <div class=" d-flex justify-content-center">
                            <img class="img-thumbnail" style="width:300px;height:300px" src="~/assets/img/@Model.FilePath" />
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Text</th>                           
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>@Model.Id</th>
                                        <td>@Model.Title</td>
                                        <td>@Model.Text</td>                               
                                    </tr>
                                </tbody>
                            </table>
                            <a asp-action="index" asp-controller="work" asp-area="admin" class="btn btn-light  mt-3">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
