@using front_to_back.Models
@model Category;

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Work Components </h4>

                        <form method="post" asp-action="update" asp-controller="category" asp-area="admin" class="forms-sample">
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input asp-for="Title" class="form-control">
                                <br />
                                <span class="text-danger" asp-validation-for="Title"></span>
                                <br />
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light" asp-action="update" asp-controller="category" asp-area="admin">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



