@using front_to_back.Areas.Admin.ViewModels.FeaturedWorkComponent
@model FeaturedWorkComponentUpdatePhotoViewModel;

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Category Adder</h4>
                        <form method="post" enctype="multipart/form-data" asp-action="updatephoto" asp-controller="featuredworkcomponent" asp-area="admin" class="forms-sample col-3">
                            <div class="form-group">
                                <label asp-for="Order"></label>
                                <input asp-for="Order" class="form-control">
                                <span class="text-danger" asp-validation-for="Order"></span>
                           
                                <button type="submit" class="btn btn-primary ">Submit</button>
                                <a asp-action="update" asp-controller="featuredworkcomponent" asp-area="admin" asp-route-id="@Model.FeaturedWorkComponentId" class="btn btn-light">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @await Html.PartialAsync("_FormValidationPartial")
    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}



